<footer class="footer-distributed body-section">
  <section class="main-body">
    <div class="footer-left">
      <h5>Great <span>Coffee</span></h5>

      <p class="footer-links">
        <a>головна</a>
        |
        <a>про нас</a>
      </p>

      <p class="footer-company-name">Copyright @ 2023 <Strong>Great Coffee</Strong> Всі права захищені</p>
    </div>
    <div class="gap"></div>
    <div class="footer-center">
      <div>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <p><strong>9:00 - 21:00 Понеділок - П'ятниця</strong></p>
      </div>
      <div>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p><strong>Телефон: </strong> +380995558822</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="#">grecoffee@gmail.com</a>
      </div>
    </div>
    <div class="gap"></div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>Про нас</span>
      <p class="about-company">
        Ми має в своєму розпорядженні абсолютно все, що може знадобитися для вендінгу. Маючи
        солідний досвід за плечима, ми добре знаємо потреби клієнтів, пропонуючи саме те, що виправдає очікування.
      </p>
    </div>
  </section>
</footer>
