<footer class="footer-distributed body-section">
  <section class="main-body">
    <div class="footer-left">
      <h5>Great <span>Coffee</span></h5>

      <p class="footer-links">
        <a>Home</a>
        |
        <a>About</a>
      </p>

      <p class="footer-company-name">Copyright @ 2023 <Strong>Great Coffee</Strong> All rights reserved</p>
    </div>

    <div class="footer-center">
      <div>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <p><strong>10:00 - 20:00, Mon - Fri</strong></p>
      </div>
      <div>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p><strong>Phone: </strong> +380995558822</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="#">grecoffee@gmail.com</a>
      </div>
    </div>

    <div class="footer-right">
      <p class="footer-company-about">
        <span>About site</span>
        <strong>The coffee business is very popular in our country, as well as around the world,
          because this aromatic drink is loved by a huge number of people.</strong>
      </p>
    </div>
  </section>
</footer>
