<section class="about-index body-section">
  <div class="about-wrapper main-body">
    <div class="about-us-box box-container">
      <div>
        <h2 class="title-about main-title">Про нас</h2>
        <p>
          Кавовий бізнес дуже популярний у нашій країні, а також у всьому світі, адже цей ароматний напій любимо
          величезною
          кількістю людей. Тому якщо ви хочете відкрити бізнес без великих вкладень, цей варіант однозначно буде
          виправданий. Магазин
        </p>
        <p>
          Ми має в своєму розпорядженні абсолютно все, що може знадобитися для вендінгу. Маючи
          солідний досвід за плечима, ми добре знаємо потреби клієнтів, пропонуючи саме те, що виправдає очікування.
        </p>
        <p>
          Great Coffee має в своєму розпорядженні абсолютно все, що може знадобитися для вендінгу. Маючи солідний досвід
          за плечима, ми добре знаємо потреби клієнтів, пропонуючи саме те, що виправдає очікування.
        </p>
      </div>

      <img class="about-us-img" src="assets/img-assets/team-3.jpg" alt="Мега робітник року">
    </div>
  </div>
</section>

<section class="contact-us-index body-section">
  <div class="contact-us-wrapper main-body">
    <h2 class="title-about main-title"><span> Зв'язатись з нами</span></h2>
    <div class="box-container">
      <form class="form-block" action="">
        <input type="text" placeholder="Ім'я - Фамілія" class="box">
        <input type="email" placeholder="Пошта" class="box">
        <textarea name="" class="box" placeholder="Повідомлення" cols="30" rows="10"></textarea>
        <button type="submit" value="send message" class="btn">Відправити</button>
      </form>
    </div>
  </div>
</section>
