<section class="about-index body-section">
  <div class="about-wrapper main-body">
    <h2 class="title-about main-title"><p class="vertical-align: inherit">Про нас</p></h2>
    <p class="vertical-align: inherit">Сир «Комо» «Голландія» 45% – 27,40 грн за 100 г Торт «Наполеон» – 16,90 грн за 100</p>
  </div>
</section>

<section class="contact-us-index body-section">
  <div class="contact-us--wrapper main-body">
    <h2 class="heading main-title"><span> Зв'язатись з нами</span></h2>
    <div class="row">
      <form action="">
        <input type="text" placeholder="name" class="box">
        <input type="email" placeholder="email" class="box">
        <input type="number" placeholder="number" class="box">
        <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
      </form>
      <div class="image">
        <img src="assets/img-assets/coffee1.png" alt="">
      </div>
    </div>
  </div>
</section>
