@import "../../../../style/svg-layout";

@mixin overflow-text {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.select-box-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  &.form-type {

    .select-box .text-container {
      font-size: 1.04rem;
      text-transform: uppercase;
    }

    .select-items {
      font-size: 1.04rem;
      text-transform: uppercase;
    }
  }

  select {
    display: none;
  }

  .select-box {
    pointer-events: none;
    display: block;
    position: relative;
    z-index: 3;
    width: 100%;

    &.--success, &.--invalid {
      .btn-icon {
        right: 50px;
      }
    }

    .text-container {
      padding: 8px 10px;
      font-family: Verdana, serif;
      background-color: var(--bg-theme-color);
      min-height: 36px;
      height: 100%;
      @include overflow-text;
    }
  }

  .select-items {
    z-index: 4;
    padding: 10px 0;

    > * {
      padding: 6px 0;
    }

    background-color: var(--cover-color-1);
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    border-radius: 0 0 6px 6px;
    border-right: 1px solid var(--select-font-color);
    border-left: 1px solid var(--select-font-color);
    border-bottom: 1px solid var(--select-font-color);
    outline: 2px solid var(--focus-outline-color);

    li {
      font-family: Verdana, serif;
      @include overflow-text;

      .text {
        z-index: 3;
        position: relative;
        margin-left: 20px;
      }
    }
  }

  .btn-icon {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: calc((44px - 16px) / 2);
    right: 10px;
    transition: right 120ms ease-in-out;
  }
}

.form-container {
  &.type-text .form-input-container {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 14px;
    outline: none !important;

    &:after {
      top: 0;
    }

    input {
      width: 100%;
      max-width: 400px;
    }
  }

  .form-input-container, .select-box {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    --outline-radius: 6px;
    padding: 4px;
    --border-color: var(--grid-border-color);
    --theme-font-color: var(--gray-theme-color);
    background-color: var(--cover-color);
    border: 1px solid var(--border-color);
    color: var(--theme-font-color);
    transition: border-color 120ms ease-in-out;

    &.--open {
      border-radius: 6px 6px 0 0;
    }

    &.--focus-in {
      label {
        font-size: 14.5px;
        top: -10px;

        &:after {
          position: absolute;
          content: "";
          top: 7px;
          width: 100%;
          left: 0;
          height: 3px;
          background-color: var(--cover-color);
        }
      }
    }

    &.--focus-in {
      &:not(&.--selected) {
        label:after {
          top: 9px !important;
        }
      }
    }
  }
}
