@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: none;
  text-decoration: none;
  transition: .2s linear;
}
*, ::before, ::after{
  box-sizing: inherit;
}
button{
  text-transform: none;
  overflow: visible;
}
element.style {
  vertical-align: inherit;
}
section {
  display: block;
}
.page.main{
  height: 100%;
  position: relative;
  z-index: 3;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
h1{
  font-size: 50px;
  line-height: 64px;
  color:  orange;
}

h2{
  font-size: 46px;
  line-height: 54px;
  color:  orange;
}

h3{
  font-size: 35px;
  color:  orange;
}

h4{
  font-weight: 700;
  font-size: 12px;
}

p{
  font-size: 26px;
  color:  rgb(175, 132, 53);
  margin: 15px 0 20px 0;
}

body{
  font-family: 'Poppins', sans-serif;

}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav li{
  list-style: none;
  padding: 0 50px;
  position: relative;
}

#nav li a{
  text-decoration: none;
  font-size: 36px;
  font-weight: 600;
  color: orange;
  transition: 0.3s ease;
}

#nav li a:hover,
#nav li a.index{
  color: red;
}
#nav li a:hover,
#nav li a.shop{
  color: red;
}
#nav li a:hover,
#nav li a.about{
  color: red;
}

#banner{
  background-image: url("src/assets/img-assets/banner.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

#banner h3{
  padding-bottom: 15px;
}

#banner h1{
  color: red;
}
#banner button{
  background-color: transparent;
  color: red;
  border:8px solid orange;
  padding: 14px 80px 14px 65px;
  display: inline-block;
  border-radius: 36px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

/*category*/

.category-index {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding-bottom: 100px;
  padding-top: 30px;
  overflow: hidden;
  background-color: rgb(56, 56, 56);
}
.category-wrapper {
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.title-category {
  font-size: 48px;
  line-height: 105.9%;
  margin-bottom: 40px;
  color: orange;
}
.category-slider {
  width: calc(100% + (50vw - 50%));
  margin-right: calc(50vw - 50%);

}
.category-list {
  align-items: stretch;
  padding: 0;
  list-style: none;
  cursor: none;
  transform: translate3d(0px, 0px, 0px);
}
.category-item{
  max-width: 285px;
  padding: 0 32px 32px;
  display: inline-block;
  margin-right: 15px;
}
.category-container{
  text-decoration: none;
}
.category-content{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  border: 2px solid orange;
  border-radius: 40px;
}
.category-image{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 26px;

}
.category-title{
  margin-bottom: 23px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: orange;
}

/*catalog*/
article {
  display: block;
}
.catalog-index{
  padding-bottom: 150px;
  background-color: rgb(56, 56, 56);
  background-repeat: no-repeat;
  background-position: left 160px,right 500px;
}
.catalog, .catalog-header, .catalog-aside .widget, .catalog-aside .product-categories, .catalog-side .children {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Gilroy';
  font-style: normal;
}
.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 1200px;
  max-width: calc(100% - 30px);
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.catalog-header {
  padding-bottom: 30px;
  margin-bottom: 48px;
  border-bottom: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
.title-catalog{
  font-size: 48px;
  line-height: 105.9%;
  padding: 0;
  margin: 0;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  color: orange;
}
.sorts-catalog{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}
.sorts{
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sorts-title {
  font-weight: 400;
  color: rgb(214, 139, 0);
  font-family: 'Gilroy';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}
.sorts-active{
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  outline: none;
  position: relative;
  padding-right: 10px;
  margin-left: 30px;
  font-weight: 500;
  transition: color .3s;
  color: orange;
  font-family: 'Gilroy';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}
.sorts-active::before {
  top: calc(50% - 2px);
  z-index: 1;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  transform: rotate(-45deg) translateY(-50%);
}
.sorts-active::before, .sorts-active::after {
  content: '';
  position: absolute;
  right: -5px;
  width: 4.5px;
  height: 4.5px;
  transition: border-color .3s;
}
.sorts-active::after {
  top: calc(50% + 2px);
  z-index: 0;
  border-top: 2px solid #afafaf;
  border-right: 2px solid #696969;
  transform: rotate(-45deg) translateY(-50%);
  opacity: 0;
  color: orange;
  font-family: 'Gilroy';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}
.sorts-list {
  position: absolute;
  top: 28px;
  right: 0;
  z-index: 3;
  width: auto;
  padding: 16px;
  background-color: #FFF;
  box-shadow: 0 10px 31px rgba(0,0,0,0.12);
  border-radius: 4px;
  list-style: none;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s,opacity .3s;
}
.sorts-list li:not(:last-of-type) {
  margin-bottom: 12px;
  display: list-item;
  text-align: -webkit-match-parent;
}
.sorts-list li, .sorts-list a {
  width: 100%;
  padding: 0;
  margin: 0;
}
.sorts-list a {
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  color: #131210;
  text-align: right;
  transition: color .3s;
  font-family: 'Gilroy';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  background-color: transparent;
}
.catalog-aside {
  width: 285px;
  padding: 40px 16px;
  background-color: rgb(70 70 70);
  box-shadow: 0 4px 29px rgba(0,0,0,0.50);
  max-width: 100%;
  margin: 0;
  display: block;
}
.catalog-aside .widget {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.catalog-aside .widgettitle {
  padding: 0;
  margin: 0;
  padding-bottom: 2px;
  margin-bottom: 29px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #E8382E;
  border-bottom: 1px solid #E8382E;
  cursor: pointer;
  display: block;
}
.catalog-aside .product-categories{
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Gilroy';
  font-style: normal;
}
.catalog-aside .product-categories .cat-item-parent-1 {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.catalog-aside .product-categories .cat-item-parent-2 {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.catalog-aside .product-categories .cat-item-parent-3 {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.catalog-aside .product-categories .cat-item-parent-1 a {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  color: orange;
  transition: color .3s;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
}
.catalog-aside .product-categories .cat-item-parent-2 a {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  color: orange;
  transition: color .3s;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
}
.catalog-aside .product-categories .cat-item-parent-3 a {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  color: orange;
  transition: color .3s;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
}

/*about*/

.about-index{
  padding-bottom: 160px;
  margin-bottom: -10px;
  background-color: rgb(56, 56, 56);
  background-repeat: no-repeat;
  background-position: left 160px,right 500px;
}
.about-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.about-center{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(50% - 10px);
  margin-left: auto;
  margin-right: auto;
}
.title-about {
  text-align: center;
  margin-bottom: 80px;
  font-size: 48px;
  line-height: 105.9%;
  font-family: 'Gilroy', serif;
  font-style: normal;
  font-weight: 700;
  color: red
}
.about-text {
  margin-bottom: 72px;
  font-family: 'Gilroy', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: orange;
}

/*contacts*/

.contacts-index .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5px;
  align-items: center;
}
.contacts-index{
  background-color: rgb(56, 56, 56);
}
.contacts-index .row .image{
  background-color: rgb(56, 56, 56);
}
.contacts-index .heading{
  background-color: rgb(56, 56, 56);
  text-align: center;
}
.contacts-index .row form .btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #181818;
  color: orange;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}
.contacts-index .row form{
  flex:1 1 40rem;
  padding: 2rem 2.5rem;
  border: .1rem solid rgba(0, 0, 0, .1);
  background: rgb(56, 56, 56);
}
.contacts-index .row .image{
  flex:1 1 40rem;
}
.contacts-index .row .image img{
  width: 100%;
}
.contacts-index .row form .box{
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 1rem solid rgba(0, 0, 0, .1);
  margin: .7rem;
  width: 100%;
  background-color: #333;
}
.contacts-index .row form .box:focus{
  border-color: red;
}
.contacts-index .row form textarea{
  height: 15rem;
  resize: none;
}

/*footer*/

.footer-distributed{
  background-color: rgb(34, 34, 34);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 20px 50px 10px 50px;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left{
  width: 30%;
  height: 200px;
}
.footer-distributed h5{
  color:white;
  font: normal 36px 'cookie', cursive;
  margin: 0;
}
.footer-distributed h5 span{
  color: orange;
}
.footer-distributed .footer-links{
  color:white;
  margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name{
  color: azure;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center{
  width: 30%;
  height: 200px;
}
.footer-distributed .footer-center i{
  background-color: black;
  color: white;
  font-size: 25px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  text-align:  center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p{
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a{
  color: orange;
  text-decoration: none;
}
.footer-distributed .footer-right{
  width: 30%;
  height: 200px;
}
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:white;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding-top: 17px;
}
.footer-distributed .footer-company-about span{
  display: block;
  color: orange;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media(max-width: 880px){
  .footer-distributed .footer-links, .footer-distributed .footer-center, .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
