@import "style/_normalize.css";
@import "style/header-box-layout";
@import "style/popup_panel";

.mat-tab-label{
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  &:focus:not(.mat-tab-disable){
    color: orange;
    background-color: #1e1e1e;
  }
}

.mat-form-field {
  font-size: 26px;
  width: 276px;
  color: orange;
  option{
    padding: 10px;
    background-color: #333333;
  }
}
