<gc-header></gc-header>
<router-outlet></router-outlet>
<gc-footer></gc-footer>
<section id="header">
  <a href="#"><img src="assets/img-assets/favicon.png" class="logo" alt=""></a>

  <div>
    <ul id="nav">
      <li><a class="index" href="index.html">Home</a></li>
      <li><a>Shop</a></li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
      <li><a><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</section>

<section id="banner">
  <h3>Treade-in-offer</h3>
  <h2>Super value deals</h2>
  <h1>On all products</h1>
  <p>Save more with coupons & up to 70% off</p>
  <button>Shop Now</button>
</section>

<main class="page.main">

  <section class="category-index">
    <div class="category-wrapper">
      <h4 class="title-category">Category</h4>
      <div class="category-slider">
        <ul class="category-list">
          <li class="category-item">
            <a class="category-container" href="#">
              <div class="category-content">
                <div class="category-image">
                  <img src="assets/img-assets/cotalogecoffee2.png" alt="Coffee">
                </div>
                <h5 class="category-title">Coffee</h5>
              </div>
            </a>
          </li>
          <li class="category-item">

            <a class="category-container" href="#">
              <div class="category-content">
                <div class="category-image">
                  <img src="assets/img-assets/cotalogecoffee2.png" alt="Tea">
                </div>
                <h5 class="category-title">Tea</h5>
              </div>
            </a>
          </li>
          <li class="category-item">

            <a class="category-container" href="#">
              <div class="category-content">
                <div class="category-image">
                  <img src="assets/img-assets/cotalogecoffee2.png" alt="Syrups">
                </div>
                <h5 class="category-title">Syrups</h5>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <article class="catalog-index" id="catalog">
    <div class="catalog-wrapper">
      <header class="catalog-header">
        <h5 class="title-catalog">Catalog</h5>
        <div class="sorts-catalog">
          <h5 class="sorts-title">Sorts:</h5>
          <button class="sorts-active" type="button" data-href name="sort-toggle">In order</button>
          <ul class="sorts-list">
            <li>
              <a href="#">Дешеві</a>
            </li>
            <li>
              <a href="#">Дорогі</a>
            </li>
          </ul>
        </div>
      </header>
      <aside class="catalog-aside">
        <div class="widget">
          <h5 class="widgettitle">All</h5>
          <ul class="product-categories">
            <li class="cat-item-parent-1">
              <a href="#">
                <font style="vertical-align: inherit;">Coffee</font>
              </a>
            </li>
            <li class="cat-item-parent-2">
              <a href="#">
                <font style="vertical-align: inherit;">Tea</font>
              </a>
            </li>
            <li class="cat-item-parent-3">
              <a href="#">
                <font style="vertical-align: inherit;">Syrups</font>
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <section class="products-index">
        <ul class="products-list"></ul>
        <button class="button-more-product" type="button" name="more">
          <span>Load more</span>
        </button>
      </section>
    </div>
  </article>

  <section class="about-index">
    <div class="about-wrapper">
      <div class="about-center">
        <h5 class="title-about">
          <font class="vertical-align: inherit">About</font>
        </h5>
        <p class="about-text">
          <font class="vertical-align: inherit">Сир «Комо» «Голландія» 45% – 27,40 грн за 100 г
            Торт «Наполеон» – 16,90 грн за 100
          </font>
        </p>
      </div>
    </div>
  </section>

  <section class="contacts-index">
    <h1 class="heading"> <span> Contact </span> us </h1>
    <div class="row">
      <form action="">
        <input type="text" placeholder="name" class="box">
        <input type="email" placeholder="email" class="box">
        <input type="number" placeholder="number" class="box">
        <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
      </form>
      <div class="image">
        <img src="assets/img-assets/coffee1.png" alt="">
      </div>
    </div>
  </section>
</main>

<footer class="footer-distributed">
  <div class="footer-left">
    <h5>Great <span>Coffee</span></h5>

    <p class="footer-links">
      <a>Home</a>
      |
      <a>Shop</a>
      |
      <a>About</a>
      |
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Copyright @ 2023 <Strong>Great Coffee</Strong> All rights reserved</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <p><strong>10:00 - 20:00, Mon - Fri</strong></p>
    </div>
    <div>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p><strong>Phone: </strong> +380995558822</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#">grecoffee@gmail.com</a>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About site</span>
      <strong>The coffee business is very popular in our country, as well as around the world,
        because this aromatic drink is loved by a huge number of people.</strong>
    </p>
  </div>
</footer>
