<gc-header [class.pinned]="pinned" (pinnedEvent)="pinnedEvent($event)"></gc-header>
<router-outlet></router-outlet>
<gc-footer></gc-footer>

<main class="page.main">
  <section class="about-index">
    <div class="about-wrapper">
      <div class="about-center">
        <h5 class="title-about">
          <font class="vertical-align: inherit">About</font>
        </h5>
        <p class="about-text">
          <font class="vertical-align: inherit">Сир «Комо» «Голландія» 45% – 27,40 грн за 100 г
            Торт «Наполеон» – 16,90 грн за 100
          </font>
        </p>
      </div>
    </div>
  </section>

  <section class="contacts-index">
    <h1 class="heading"> <span> Contact </span> us </h1>
    <div class="row">
      <form action="">
        <input type="text" placeholder="name" class="box">
        <input type="email" placeholder="email" class="box">
        <input type="number" placeholder="number" class="box">
        <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
      </form>
      <div class="image">
        <img src="assets/img-assets/coffee1.png" alt="">
      </div>
    </div>
  </section>
</main>

<footer class="footer-distributed">
  <div class="footer-left">
    <h5>Great <span>Coffee</span></h5>

    <p class="footer-links">
      <a>Home</a>
      |
      <a>Shop</a>
      |
      <a>About</a>
      |
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Copyright @ 2023 <Strong>Great Coffee</Strong> All rights reserved</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <p><strong>10:00 - 20:00, Mon - Fri</strong></p>
    </div>
    <div>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p><strong>Phone: </strong> +380995558822</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#">grecoffee@gmail.com</a>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About site</span>
      <strong>The coffee business is very popular in our country, as well as around the world,
        because this aromatic drink is loved by a huge number of people.</strong>
    </p>
  </div>
</footer>
